@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
}

.home{
display: flex;
}

 .sideBar{
  background-color: rgb(145, 140, 140);
  height: 100vh;
  width: 30rem;
  display: flex;
  flex-direction: column ;
  justify-content: center;
 }

#profilePhoto {
  border-radius: 50%;
  max-width: 15rem;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-bottom: 1rem;
}

#welcomeText {
  margin-left: 5rem;
  color: white;
  font-size: 1.3rem;
  font-weight: lighter;
}

#welcomeText2 {
  margin-left: 5rem;
  color: white;
  font-size: 1.1rem;
  font-weight: lighter;
  padding-bottom: 1rem;
}  

.mediaIcons {
  margin-left: 5rem;
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}

.mediaIcons ion-icon {
  width: 2rem;
  height: 2rem;
  color: #fff;
  transition: 0.3s ease;
}

.mediaIcons ion-icon:hover {
 color:black;
}

.menu ul li{
  margin-left: 4.5rem;
  list-style: none;
  color: #fff;
  font-size: 1.2em;
  transition: 0.3s ease;
  padding: 0.4em;
}

.menu ul li:hover {
  cursor: pointer;
 color:black;
}


.box {

  background-color: rgb(112, 104, 104);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  margin: 0 0.5rem 2rem 0.5rem;
}

.thumbnail {
  max-width: 8rem;
  padding: 1rem;
} 

.aboutMe h1 {
  padding: 2rem;
}
.aboutMe p {
  margin-left: 2rem;
}

.projectsList h1 {
  padding: 2rem;
}

.contact h1 {
  padding: 2rem;  
}